{% extends 'base.html' %}
{% block title %} Fixed Asset | Acerca de {% endblock %}
{% block body %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/generic/about.css' %}" />

<div class="about-wrapper">
    <div class="about-header">Mision</div>
    <div>
         This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
        bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a
        sit amet mauris.
    </div>
</div>

<div class="about-wrapper">
    <div class="about-header">Vision</div>
    <div>
        Proin gravida ibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
        sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
    </div>
</div>

<div class="about-wrapper">
    <div class="about-header">Historia</div>
    <div>
        This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
        bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
        cursus a sit amet mauris. This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed
        odio sit amet nibh vulputate cursus a sit amet mauris. This is Photoshop's version of Lorem Ipsum. Proin gravida
        nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
        sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
         This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
        bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a
        sit amet mauris. This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
        lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
        cursus a sit amet mauris.
    </div>
</div>
 

{% endblock %}