{% extends 'base.html' %}
{% block title %} Fixed Asset | Vision {% endblock %}
{% block body %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/generic/about.css' %}" />

<div class="div-wrapper">
    <div class="div-header">Historia</div>
    <div class="div-content">
        <div class="div-img">
            <img src="{% static 'img/iconos/historia.jpg' %}" style="max-width:350px;max-height:500px;" alt="ups2" >
            <hr>
            <img src="{% static 'img/iconos/historia2.jpg' %}" style="max-width:350px;max-height:500px;" alt="ups2" >
        </div>
        <div class="div-text">
            Las operaciones en ciudad Juárez iniciaron en agosto de 1981, cuando solamente había 40 empleados, 
            dedicados a la fabricación de cinturones de seguridad. Esta planta inició operaciones en marzo de 1996, 
            como una área de la planta de cintos, con tal sólo 10 empleados, convirtiendo la bodega de material
            de aquel entonces en la Planta de Bolsas de Aire, autorizando el proceso nuestro cliente para julio de
            ese año.
            <br>
            Posteriormente, en diciembre de 1997 logramos la certificación en QS9000, para luego en enero del 2002
            convertirnos en una empresa preocupada por el medio ambiente, al certificarnos en ISO14000. En el
            crecimiento constante, iniciamos con el doblado de la bolsa para septiembre del 2003, y ese mismo año,
            en diciembre, logramos la transición en nuestro sistema de calidad al certificarnos en ISOTS16949,
            sistema con mayores requerimientos al anterior.
            <br>
            En abril del 2003 fuimos adquiridos por la compañía Key Automotive Group, y tuvimos el cambio de nombre
            en Agosto de ese año, de Breed a Key Safety Systems de México. Con la adquisición de nuevos productos,
            fue necesario el cambiar las operaciones a un edificio más grande, realizando lo anterior de julio a
            diciembre del 2004, en la planta que en la actualidad ocupamos.
            El crecimiento actual de Key Safety Systems se debe al interés y dedicación de cada uno de los empleados
            que han trabajado para nosotros, por lo tanto, debemos seguir esforzándonos para llegar a ser los mejores
            del mundo.
        </div>
    </div>
</div>

{% endblock %}