{% extends 'base.html' %}
{% block title %} Fixed Asset | Index {% endblock %}

{% block body %}
{% load staticfiles %}
<div class="resumen-wrapper">

	<div class="full-menu menu-header">
		<div>
			Joyson Safety Systems
		</div>
	</div>

	<div class="split-menu">
		<div class="split-menu-nested">
			<div class="split-header">
				<div>Pedimentos</div>
			</div>
			<div class="split-content">
				<table style="width:100%;">
					<tbody>
						<tr>
							<td class="split-descripcion" width="89%">Agregados el ultimo mes</td>
							<td class="split-total" width="10%">43</td>
						</tr>
						<tr>
							<td class="split-descripcion" width="89%">Sucursal Juarez</td>
							<td class="split-total" width="10%">23</td>
						</tr>
						<tr>
							<td class="split-descripcion" width="89%">Sucursal villahermosa</td>
							<td class="split-total" width="10%">20</td>
						</tr>
						<tr>
							<td class="split-descripcion" width="89%">Pendientes</td>
							<td class="split-total" width="10%">3</td>
						</tr>
						<tr>
							<td class="split-descripcion" width="89%">Terminados</td>
							<td class="split-total" width="10%">2</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="split-menu-nested">
			<div class="split-header">
				<div>Estadisticas</div>
			</div>
			<div class="split-content">
				<table style="width:100%;">
					<tbody>
						<tr>
							<td class="split-descripcion" width="89%">Usuarios registrados el ultimo mes</td>
							<td class="split-total" width="10%">5</td>
						</tr>
						<tr>
							<td class="split-descripcion" width="89%">Marcas actuales</td>
							<td class="split-total" width="10%">15</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="full-menu menu-bottom">
		<h4>Aqui ira un texto de ejemplo que sera reemplazado meramente informativo</h4>
	</div>


</div> 

{% endblock %}