{% extends 'base.html' %}
{% block title %} Fixed Asset | Index {% endblock %}

{% block body %}
{% load staticfiles %}
<div class="resumen-wrapper">

	<div class="table-responsive grid-table">
		<h3>Ultimos pedimentos agregados</h3>
		<table class="table tbl_main">
			<thead>
				<tr>
					<th>pedimento</th>
					<th>JSS ID</th>
					<th>Numero de proyecto</th>
					<th>Localizacion</th>
					<th>Orden de compra</th>
					<th>Marca</th>
					<th>Precio</th>
					<th>Tipo de cambio</th>
					<th>Fecha de inicio</th>
					<th scope="col">Edición</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			{% for entity in entities %}
			<tbody>
				<tr>
					<th scope="row">{{ entity.pedimento }}</th>
					<td>{{ entity.jssID }}</td>
					<td>{{ entity.numProyecto }}</td>
					<td>{{ entity.localizacion }}</td>
					<td>{{ entity.ordenCompra }}</td>
					<td>{{ entity.marca }}</td>
					<td>{{ entity.precio }}</td>
					<td>{{ entity.tipoCambio }}</td>
					<td>{{ entity.fecha_inicio }}</td>  
					<td>
						<a href="{{ entity.url_editar_main }}"><label class="glyphicon glyphicon-pencil"></label> Editar</a>
					</td>
					<td>
						<a data-toggle="modal" data-target="#modal-borrar" onclick="open_modal_borrar('{{ entity.pedimento }}','{{ entity.pk }}')">
							<label class="glyphicon glyphicon-trash"></label> Borrar</a>
					</td>
				</tr>

			</tbody>
			{% endfor %}
		</table>
	</div>
</div> 

{% endblock %}