{% extends 'base.html' %}
{% block title %} Fixed Asset | Vision {% endblock %}
{% block body %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/generic/about.css' %}" />

<div class="div-wrapper">
    <div class="div-header">Misión</div>
    <div class="div-content">
        <div class="div-text">
                Nos esforzamos por brindar soluciones de sistemas de seguridad de la más alta calidad y confiabilidad que permitan a nuestros clientes la libertad de diseño y la confianza para impulsar la próxima generación en movilidad.
        </div>
        <div class="div-img">
            <img src="{% static 'img/iconos/jss.png' %}" style="max-width:350px;" alt="ups2" >
        </div>
    </div>
</div>

{% endblock %}