
.resumen-wrapper {
	margin: 1%;
	height: 90vh;
	border: 1px solid #f3f3f3;
	box-shadow: 0px 2px 3px #DEDEDE;
	background: white;
}

.resumen-header {
	border: 1px solid rgb(168, 168, 168);
	margin: 2%;
	padding: 20px;
	text-align: center;
	font-size: 28px;
	font-weight: 600;
	height: 10vh;
}