{% extends 'index.html' %} 
{% block title %} Fixed Asset | Form {% endblock %}

{% block body %}
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="{% static '/static/js/generic/calendarios.js'%}"></script>

<!-- ************************************  HELPER ************************************ -->
<div class="container col-md-8 thumbnail col-md-offset-2 bs-header">
    <div class="col-md-2 volver">
        <a href="/Main">
            <label class="glyphicon glyphicon-chevron-left"></label>&nbsp;Volver</a>
    </div>
    <div class="col-md-8 bs-header-text helper-text">
        <b>Formulario</b>
    </div>
    <div class="helper-img col-md-1">
        <img src="{% static 'img/iconos/list.png' %}" class="helper-img" alt="ups" >
    </div>
</div>

<div class="container col-md-8 thumbnail col-md-offset-2">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <br>
            <form method="post">
                {% csrf_token %}

                <fieldset class="fieldset">
                    <legend>
                        <b>Información requerida</b>
                    </legend>

                    <div class="form-group col-md-6">
                        {% if entity.pedimento %}
                            <label>Pedimento</label>
                            <input type="text" value="{{ entity.pedimento}}" class="input-personalized"
                            name="pedimento" id="pedimento">
                        {% else %}
                            <label>Pedimento</label>
                            <input type="text" name="pedimento" id="pedimento" class="input-personalized">
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Numero de proyecto</label>
                        {% if entity.numProyecto %}
                            <input type="text" value="{{ entity.numProyecto}}" class="input-personalized" name="numProyecto" id="numProyecto">
                        {% else %}
                            <input type="text" name="numProyecto" id="numProyecto" class="input-personalized">
                        {% endif %}
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <div class="form-group col-md-6">
                        <label>Localizacion</label>
                        {% if entity.localizacion %}
                            <input type="text" value="{{ entity.localizacion}}" class="input-personalized" name="localizacion" id="localizacion">
                        {% else %}
                            <input type="text" name="localizacion" id="localizacion" class="input-personalized">
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        <label>Orden de compra</label>
                        {% if entity.ordenCompra %}
                            <input type="text" value="{{ entity.ordenCompra}}" class="input-personalized" name="ordenCompra" id="ordenCompra">
                        {% else %}
                            <input type="text" name="ordenCompra" id="ordenCompra" class="input-personalized">
                        {% endif %}
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <div class="form-group col-md-6">
                        <label>Marca</label>
                        <select id="marca" name="marca">
                            {% if entity.marca %}
                                <option value="%">{{ entity.marca }}</option>
                            {% else %}
                                <option value="%">------</option>
                            {% endif %}
                            {% for marca in marcas %}
                                <option name="marca" id="marca" value="{{ marca.nombre }}">{{ marca.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="form-group col-md-6">
                        <label>Modelo</label>
                        {% if entity.modelo %}
                            <input type="text" value="{{ entity.modelo}}" class="input-personalized" name="modelo" id="modelo">
                        {% else %}
                            <input type="text" name="modelo" id="modelo" class="input-personalized"> 
                        {% endif %}
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <div class="form-group col-md-6">
                        <label>Serie</label>
                        {% if entity.serie %}
                            <input type="text" value="{{ entity.serie}}" class="input-personalized" name="serie" id="serie">
                        {% else %}
                            <input type="text" name="serie" id="serie" class="input-personalized"> 
                        {% endif %}
                    </div>
                
                    <div class="form-group col-md-6">
                        <label>Origen</label>
                        {% if entity.origen %}
                            <input type="text" value="{{ entity.origen}}" class="input-personalized" name="origen" id="origen">
                        {% else %}
                            <input type="text" name="origen" id="origen" class="input-personalized"> 
                        {% endif %}
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <div class="form-group col-md-6">
                        <label>Precio</label>
                        {% if entity.precio %}
                            <input type="text" value="{{ entity.precio}}" class="input-personalized" name="precio" id="precio">
                        {% else %}
                            <input type="text" name="precio" id="precio" class="input-personalized">
                        {% endif %}
                    </div>
                
                    <div class="form-group col-md-6">
                        <label>Tipo de cambio</label>
                        {% if entity.tipoCambio %}
                            <input type="text" value="{{ entity.tipoCambio}}" class="input-personalized" name="tipoCambio" id="tipoCambio">
                        {% else %}
                            <input type="text" name="tipoCambio" id="tipoCambio" class="input-personalized">
                        {% endif %}
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <div class="form-group col-md-6">
                        <label>Fecha de ingreso</label>
                        {% if entity.fecha_ingreso %}
                            <input type="text" id="datepicker" name="fecha_ingreso" value="{{ entity.fecha_ingreso |date:"Y-m-d"}}"
                             onclick="clear_text()" class="input-personalized"  />
                        {% else %}
                            <input type="text" id="datepicker" name="fecha_ingreso"
                             onclick="clear_text()" class="input-personalized"  />
                        {% endif %}
                    </div>
                
                    <div class="form-group col-md-6">
                        <label>Fecha de pedimento</label>
                        {% if entity.fecha_pedimento %}
                            <input type="text" id="datepickerf" name="fecha_pedimento" value="{{ entity.fecha_ingreso |date:" Y-m-d "}}" onclick="clear_textf()"
                                class="input-personalized" />
                        {% else %}
                            <input type="text" id="datepickerf" name="fecha_pedimento" onclick="clear_textf()" class="input-personalized" />
                        {% endif %}
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <div class="form-group col-md-6">
                        <label>JSS ID</label>
                        {% if entity.jssID %}
                            <input type="text" value="{{ entity.jssID}}" class="input-personalized" name="jssID" id="jssID">
                        {% else %}
                            <input type="text" name="jssID" id="jssID" class="input-personalized">
                        {% endif %}
                    </div>

                </fieldset>

                <fieldset class="fieldset">
                    <div class="form-group col-md-12">
                        <label>Descripcion</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="5" id="descripcion">{{ entity.descripcion }}</textarea>
                    </div>
                </fieldset>

                <div class="form-group">
                    <div class="col-md-12">
                        {% if entity.pedimento %} 
                            <button type="submit" onclick="set_empty_values()" class="btn btn-agregar col-md-4">Actualizar información</button>
                        {% else %}
                            <button type="submit" onclick="set_empty_values()" class="btn btn-agregar col-md-4">Actualizar información</button>
                        {% endif %}
                        <br>
                        <br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function isDisabled(){
        console.log('2018');
    }
</script>

{% endblock %}