{% extends 'base.html' %}
{% block title %} Fixed Asset | List {% endblock %}

{% block body %}
<body onload="checaTerminados()">

{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/generic/modal.css' %}" />
<script src="{% static '/static/js/generic/delete.js'%}"></script>
<script src="{% static '/static/js/generic/calendarios.js'%}"></script>
 
 <!-- ************************************  HELPER ************************************ -->
<div class="container thumbnail helper no-print">
    <div class="col-md-2 volver">
        <a href="../">
            <label class="glyphicon glyphicon-chevron-left"></label>&nbsp;Volver</a>
    </div>
    <div class="col-md-8 bs-header-text helper-text">
        <label> <b>Activo Fijo</b>
        <label class="total">{{ total }}</label>
    </div>
    <div class="helper-img col-md-1">
        <img src="{% static 'img/iconos/tools.png' %}" class="helper-img" alt="ups2" >
    </div>
</div>

<section class="container thumbnail grid no-print">
    <!-- ************************************  FORM ************************************ -->
    <section>
        <form action="" method=post class="container-fluid grid-elements">
            {% csrf_token %}
            <div class="col-md-8">
                <input type="text" id="search" name="search" placeholder="busqueda" class="input-personalized"/>
            </div>
            <div class="col-md-2">
                <a>
                    <input type="submit" class="btn btn-default" value="Buscar" />
                </a>
            </div>
            {% if user.username != 'invitado' %}
                <div class="col-md-2">
                    <a href="/Main/Form">
                        <input type="button" class="btn btn-agregar" value="+ Agregar formato" />
                    </a>
                </div>
            {% endif %}
        </form>
    </section>
    <hr>

    <div class="table-responsive grid-table">
        <table class="table tbl_main">
            <thead>
                <tr>
                    <th>pedimento</th>
                    <th>JSS ID</th>
                    <th>Numero de proyecto</th>
                    <th>Localizacion</th>
                    <th>Orden de compra</th>
                    <th>Precio</th>
                    <th>Fecha inicio</th>
                    <th>Terminado</th>
                    {% if user.username != 'invitado' %}
                    <th scope="col">Edición</th>
                    <th scope="col">Acciones</th>
                    {% endif %}
                </tr>
            </thead>
            {% for entity in entities %}
            <tbody> 
                <tr class="TRPainted" data-toggle="modal" data-target="#modal-ver" onclick="open_modal_ver('{{ entity.jssID }}','{{ entity.fecha_pedimento }}',
                '{{entity.pedimento }}','{{entity.numProyecto }}','{{entity.localizacion }}', '{{entity.ordenCompra }}', '{{entity.marca}}',
                '{{entity.modelo }}','{{entity.serie }}','{{entity.origen }}', '{{entity.precio }}','{{entity.tipoCambio }}','{{entity.descripcion }}')">
                    <td>{{ entity.pedimento }}</td>
                    <td>{{ entity.jssID }}</td>
                    <td>{{ entity.numProyecto }}</td>
                    <td>{{ entity.localizacion }}</td>
                    <td>{{ entity.ordenCompra }}</td>
                    <td>{{ entity.precio }}</td>
                    <td>{{ entity.fecha_inicio }}</td>
                    <td class="TDTerminado">{{ entity.terminado }}</td>
                    {% if user.username != 'invitado' %}
                    <td>
                        <a href="{{ entity.url_editar_main }}"><label class="glyphicon glyphicon-pencil"></label> Editar</a>
                    </td>
                    <td>
                        <a data-toggle="modal" data-target="#modal-borrar" onclick="open_modal_borrar('{{ entity.pedimento }}','{{ entity.pk }}')">
                            <label class="glyphicon glyphicon-trash"></label> Borrar</a>
                    </td>
                    {% endif %}
                </tr>

            </tbody>
            {% endfor %}
        </table>
    </div> 
</section>

<!-- *********************************** modal ver *********************************** -->

<div class="modal fade printable-zone" id="modal-ver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-content" role="document">
            <div class="modal-header" style="background-color: #dbdbdb; border-bottom: 1px solid rgb(151, 151, 151);">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <img src="{% static 'img/iconos/tools.png' %}" alt="x"> 
                    <label id="textoJssId" style="text-align: center; color:black; font-size:24px; margin-left:200px;margin-top:15px;">Identificador</label>
                </h4>
            </div>
            <div class="modal-body" style="height:500px;">
                <div class="col-md-12 modal-texto">
                    <label class="col-md-4" style="text-align:right;">Fecha</label>
                    <label class="col-md-8" id="textoFecha"></label>
                </div>
                <div class="col-md-12 modal-texto">
                    <label class="col-md-4" style="text-align:right;">Pedimento</label>
                    <label class="col-md-8" id="textoPedimento"></label>
                </div>
                <div class="col-md-12 modal-texto">
                    <label class="col-md-4" style="text-align:right;">Numero de proyecto</label>
                    <label class="col-md-8" id="textoNumProyecto"></label>
                </div>
                <div class="col-md-12 modal-texto">
                    <label class="col-md-4" style="text-align:right;">Localizacion</label>
                    <label class="col-md-8" id="textoLocalizacion"></label>
                </div>
                <div class="col-md-12 modal-texto">
                    <label class="col-md-4" style="text-align:right;">ordenCompra</label>
                    <label class="col-md-8" id="textoOrdenCompra"></label>
                </div>
                <div class="col-md-12 modal-texto">
                    <label class="col-md-4" style="text-align:right;">Marca</label>
                    <label class="col-md-8" id="textoMarca"></label>
                </div>
                <div class="col-md-12 modal-texto">
                    <label class="col-md-4" style="text-align:right;">Modelo</label>
                    <label class="col-md-8" id="textoModelo"></label>
                </div>
                <div class="col-md-12 modal-texto">
                    <label class="col-md-4" style="text-align:right;">Serie</label>
                    <label class="col-md-8" id="textoSerie"></label>
                </div>
                <div class="col-md-12 modal-texto">
                    <label class="col-md-4" style="text-align:right;">Origen</label>
                    <label class="col-md-8" id="textoOrigen"></label>
                </div>
                <div class="col-md-12 modal-texto">
                    <label class="col-md-4" style="text-align:right;">Precio</label>
                    <label class="col-md-8" id="textoPrecio"></label>
                </div>
                <div class="col-md-12 modal-texto">
                    <label class="col-md-4" style="text-align:right;">TipoCambio</label>
                    <label class="col-md-8" id="textoTipoCambio"></label>
                </div>
                <div class="col-md-12 modal-texto">
                    <label class="col-md-4" style="text-align:right;">Descripcion</label>
                    <label class="col-md-8" id="textoDescripcion"></label>
                </div>
                <div class="col-md-12 modal-texto">
                    <button onclick="printForm()" class="btn btn-info no-print">
                        <label class="glyphicon glyphicon-print"></label>&nbsp; Imprimir
                    </button>
                </div>

            </div>
    </div>
</div>


<!-- *********************************** modal borrar *********************************** -->
<div class="modal fade" id="modal-borrar" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-header" style="background-color: #dbdbdb; border-bottom: 1px solid rgb(151, 151, 151);">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
                <img src="{% static 'img/iconos/tools.png' %}" alt="x">
                <label style="text-align: center;">Confirmación</label>
            </h4>
        </div>
        <div class="modal-body" style="height:150px; background-color: white;">
            <h3 style="text-align: center;">¿Estas seguro de eliminar este pedimento?
                <br>
                <b id="textoPedimento"></b>
                <span id="idBorrar" style="visibility:hidden;"></span>
            </h3>
        </div>
        <div class="modal-footer" style="background-color: white;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" onclick="deleteMain()">Eliminar</button>
        </div>
    </div>
</div>
</body>

<!-- *********************************** script modal *********************************** -->
<script>

    function printForm() {
        console.log("Por imprimir");
        window.print();
    }

    var modal = document.getElementById('myModal');
    var content_jssId = document.getElementById('textoJssId');
    var content_fecha = document.getElementById('textoFecha');
    var content_pedimento = document.getElementById('textoPedimento');
    var content_numProyecto = document.getElementById('textoNumProyecto');
    var content_localizacin = document.getElementById('textoLocalizacion');
    var content_ordenCompra = document.getElementById('textoOrdenCompra');
    var content_marca = document.getElementById('textoMarca');
    var content_modelo = document.getElementById('textoModelo');
    var content_serie = document.getElementById('textoSerie');
    var content_origen = document.getElementById('textoOrigen');
    var content_precio = document.getElementById('textoPrecio');
    var content_tipoCambio = document.getElementById('textoTipoCambio');
    var content_descripcion = document.getElementById('textoDescripcion');
    
    var pk_borrar = document.getElementById('idBorrar');

    function open_modal_borrar(item, id) {
        content_pedimento.innerHTML = item;
        pk_borrar.innerHTML = id;
    }

     function open_modal_ver(jssId, fecha, pedimento, numProyecto, localizacion, ordenCompra, marca, modelo, serie, origen, precio, tipoCambio, descripcion ) {
            content_jssId.innerHTML = "Identificador: " + jssId;
            content_fecha.innerHTML = fecha;
            content_pedimento.innerHTML = pedimento;
            content_numProyecto.innerHTML = numProyecto;
            content_localizacin.innerHTML = localizacion;
            content_ordenCompra.innerHTML = ordenCompra;
            content_marca.innerHTML = marca;
            content_modelo.innerHTML = modelo;
            content_serie.innerHTML = serie;
            content_origen.innerHTML = origen;
            content_precio.innerHTML = precio;
            content_tipoCambio.innerHTML = tipoCambio;
            content_descripcion.innerHTML = descripcion;
        }

    function checaTerminados() {
        console.log('ENTRE AL METODO');
        var TRPainted = document.getElementsByClassName('TRPainted');
        var TDTerminado = document.getElementsByClassName('TDTerminado');
        console.log(TRPainted.length);
        for (i = 0; i < TRPainted.length; i++) {
            if (TDTerminado[i].innerHTML == 'True') {
                console.log('1');
                TRPainted[i].style.backgroundColor = 'rgba(65, 198, 92, 0.47)';
                TDTerminado[i].innerHTML = '<label class="glyphicon glyphicon-ok"></label>';
            } else if (TDTerminado[i].innerHTML == 'False') {
                console.log('2');
                TRPainted[i].style.backgroundColor = 'rgba(255, 224, 5, 0.23)';
                TDTerminado[i].innerHTML = '<label class="glyphicon glyphicon-minus"></label>';
            }
        }
    }


</script>

<style>
    @media print and (min-width: 480px) {
    .no-print {
        display: none;
    }

    .printable-zone {
        display: block;
    }
}
</style>

{% endblock %}
